node_modules
test

*~
*#
.DS_Store
.netbeans
.idea
nbproject
.**/env*
Thumbs.db

.tmp
local.js
logs
src
.vscode
*.sublime-workspace
.git*
webpack*
.yarn*

.babelrc
.prettierrc
.eslint*

Procfile
misc
docs
.flow*
.npmignore

.editor*
.travis*

*.jsx
*.cyl



coverage
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
