{
  "printWidth": 80,
  "overrides": [
    {
      "files": [".babelrc", ".eslintrc", ".prettierrc", ".sailsrc"],
      "options": {
        "parser": "json",
        "bracketSpacing": false
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "es5"
}
